* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.colorText {
    color: #5748fa;
}

.colorText:hover {
    color: #00db8e;
}